main {
    background-color: #dddddd50;
    padding: 40px;
    margin: 0 auto;
    width: 70%;
    #main-container {
        display: flex;
        #card-container {
            height: 100%;
        }
    }
}

@media (max-width: 1100px) {
    main {
        position: relative;
        #main-container {
            flex-direction: column;
        }
    }
}